:root {
  --primary-color: #3baea0;
  --primary-font: 'Poppins', sans-serif;

  --secondary-color: #767a88;
  --text-color: #0f0f0f;

  --btn-pad: 20px 30px;
  --btn-color: #3baea0;
  
}

.main-container {
  display: block;
  margin: 0 auto;
  text-align: center;
  padding: 50px;
}

h1{
position: absolute;
width: 500px;
height: 170px;
left: calc(50% - 500px/2 - 330px);
top: 150px;
font-family:var(--primary-font);
font-style: normal;
font-weight: 700;
font-size: 64px;
line-height: 85px;
color: var(--primary-color);
}

h2 {
position: absolute;
width: 506px;
height: 27px;
left: calc(50% - 506px/2 - 327px);
top: 270px;

font-family: var(--primary-font);
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 27px;
color: #272142;
}


.story{
position: absolute;
width: 475px;
height: 120px;
left: calc(50% - 475px/2 - 342.5px);
top: 350px;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 30px;
color: var(--text-color);
text-align: justify;
}
 .my-photo{
  border-radius: 150px;
  margin-left: 50px;
  position: absolute;
  left: 711px;
  top: 180px;
 }
 .details {
  text-align: justify;
  line-height: 45px;
  font-family: var(--primary-font);
  color: var(--text-color);
  margin-left: 100px;
 }
.navigation {
  padding: 30px;
}
.contact {
  margin-left: 20px;
  padding: var(--btn-pad);
  background-color: var(--btn-color);
  color: var(--text-color);
  font-size: 20px;
  border-radius: var(--btn-bor-rad);
}
a {
  text-decoration: none;
}
h5{
 color: var(--primary-color);
  font-size: 70px;
  margin: 0 auto;
  padding-bottom: 30px;
  font-family: var(--primary-font);
  
}
.project-title{
  color: var(--primary-color);
  font-size: 35px;
  margin: 10px;
  font-family: var(--primary-font);
  text-align: start;
}

.projects-p {
  text-align: start;
  line-height: 27px;
  font-family: var(--primary-font);
  color: var(--text-color);
  
}

.link{
  color:var(--primary-color);
  text-decoration: underline;
  padding-top: 50px;
}
.certificates{
  margin-top: 50px;
  margin-bottom: 20px;
  padding: -80%;
}
.cert {
  color: var(--primary-color);
  font-size: 70px;
  padding-bottom: 30px;
  font-family: var(--primary-font);
  text-align: center;
}

.contacts{
  display: inline;
  text-align: center;
    
  }
  .info{
   font-size: 25px;
   font-family: var(--secondary-color);
    margin: 10px 400px;
    padding: 20px;
    border: 2px groove #3baea0 ;
    border-radius: 15px ;
    background-color: var(--primary-color);
  }
  .back-home{
    text-align: justify;
    font-size: 20px;
    font-family: var(--primary-font);
    text-decoration: underline;
    margin-bottom: 50px;
  }
 footer{
  margin-top: 50px;
  width: 100%;
 }
 

@media (max-width: 900px)  {

  h1,h5{
    font-size: 30px ;
    margin: 5px;
  }
  h2{
    font-size: 15px ;
  }
 .projects-container{
  margin: 0 auto;
  padding: 2px;
 }
  .projects-img-fluid{
  width:95%;
  height: 95%;
  }

.project-title{
  font-size: 20px;
  margin: 2px;
}
.certificates{
  margin: 0 auto;
  padding: 2px;
  
}
.cert-img-fluid{
  margin: 20px;
  width:100%;
  height: 100%;
}
.contacts{
 margin: 100px;
}
.info{
 margin:50px;
 
}
}
