:root {
  --primary-color: #3baea0;
  --primary-font: 'Poppins', sans-serif;

  --secondary-color: #767a88;
  --text-color: #0f0f0f;

  --btn-pad: 20px 30px;
  --btn-color: #3baea0;
}

html {
overflow: hidden;
}
.main-container {
  display: block;
  margin: 0 auto;
  text-align: center;
  padding: 50px;
}
h1{
margin-right: 500px;
margin-bottom: 10px;
font-family:var(--primary-font);
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 85px;
color: var(--primary-color);
}

.story{
margin-right: 400px;
margin-bottom: -500px;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 30px;
color: var(--text-color);
text-align: justify;
}
.my-photo{
  border-radius: 100px;
  margin-left: 800px;
  top: 120px;
 }
.navigation {
  padding: 18px 30px;
  margin-left: -250px;
  margin-top: -10px;
}
.contact {
  padding: var(--btn-pad);
  background-color: var(--btn-color);
  color: var(--text-color);
  font-size: 20px;
  border-radius: 5px;
  width: 139px;
  height: 27px;
}
a {
  text-decoration: none;
}
 footer{
  font-family: var(--primary-font);
  font-size: 15px;
  color: var(--secondary-color);
  text-align: center;
  margin-top: 90px;
}
 a{
 color: blue;
}


