
:root {
  --primary-color: #3baea0;
  --primary-font: 'Poppins', sans-serif;

  --secondary-color: #767a88;
  --text-color: #0f0f0f;

  --btn-pad: 20px 30px;
  --btn-color: #3baea0;
  --btn-bor-rad: 5px;
}

h1{
color:var(--primary-color);
font-family: var(--primary-font);
position: absolute;
width: 600px;
font-weight: 700;
font-size: 64px;
line-height: 85px;
margin: 100px 144px;


}
.contacts{
position: absolute;
width: 1160px;
height: 220px;
left: 140px;
top: 300px;
bottom: 186px;
background: #F9F7FE;
border-radius: 20px;
background:#92e2d9;
border-radius: 10px;
}

h2 {
font-family: var(--primary-font);
color: var(--secondary-color);
position: absolute;
width: 800px;
height: 64px;
margin: 28px 119px 87px 50px;
}
.phone{
position: absolute;
width: 449px;
height: 27px;
display: flex;
justify-content: center;
top: 80px;
left: 50px;
font-family: var(--primary-font);
font-weight: 400;
font-size: 28px;
line-height: 45px;
color: var(--text-color);
}

i{
 text-align: center;
 margin: 150px 40px;
 font-size: 25px;
 color: var(--secondary-color);
}
button{
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 18px 30px;
position: absolute;
width: 150px;
height: 63px;
top: 360px;
left: 1000px;
border-radius: 4px;
}
button:hover{
  color: blue;
  text-decoration: underline;
}
a{
  text-decoration: none;
  color:var(--text-color);
  font-family: var(--primary-font);
}

footer{
  background-color: #bceee8;
  margin-top:520px;
  height: 50px;
}
.source{
 text-align: center;
 margin: 20px;
 font-family: var(--primary-font);
}
.source a{
 color: blue;
}

