:root {
  --primary-color: #3baea0;
  --primary-font: 'Poppins', sans-serif;

  --secondary-color: #767a88;
  --text-color: #0f0f0f;

  --btn-pad: 20px 30px;
  --btn-color: #3baea0;
  --btn-bor-rad: 5px;
}

.main-container {
  display: block;
  margin: 0 auto;
  text-align: center;
  padding: 50px;
}

h1
 {
  color: var(--primary-color);
 width: 825px;
 height: 170px;
 left: calc(50% - 825px/2 - 163.5px);
 top: 120px;
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 85px;
  font-family: var(--primary-font);
}

h2 {
  color: var(--primary-color);
  font-size: 42px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 50px;
  padding: 50px;
  font-family: var(--primary-font);
}

h3{
  color: var(--primary-color);
  font-size: 35px;
  font-family: var(--primary-font);
  text-align: start;
  margin-top: -10px;
}
h4{
  color: var(--primary-color);
  font-size: 35px;
  font-family: var(--primary-font);
  margin-left: 90px;
  margin-top: 30px;
}

.projects-img-croissant-fluid{
 margin-top: -10px;
}

.projects-img-weather-fluid{
  margin-top: 40px;
}
.p-croissant {
  line-height: 27px;
  font-family: var(--primary-font);
  color: var(--text-color);
  text-align: justify;
  width: 500px;
  height: 120px;
  left: calc(50% - 514px/2 + 225px);
  top: 500px;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
}
.p-weather {
  line-height: 27px;
  font-family: var(--primary-font);
  color: var(--text-color);
  text-align: justify;
  width: 500px;
  height: 120px;
  margin-left: 50px ;
  top: 1200px;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
}
 
footer{
 text-align: center;
 margin-top: 90px;
 font-family: var(--primary-font);
 color: var(--secondary-color);
}
 a{
 color: blue;
}

@media (max-width: 990px)  {

  .main-container {
  display: block;
  margin: 0 auto;
  text-align: center;
  padding: 50px;
}

h1{
 width: 290px;
 height: 170px;
 text-align: start;
 font-size: 24px;
 line-height: 40px;
}

h2 {
  font-size: 25px;
  text-align: center;
  margin-top: -100px;
  margin-bottom: 50px;
}

h3{
  font-size: 25px;
  text-align: center;
  margin-top: -260px;
}

.projects-img-croissant-fluid{
  width: 280px;
  height: 220px;
}
.projects-img-weather-fluid{
  width: 280px;
  height: 220px;
  margin-top: -580px;
  margin-left: -10px;
  

}
h4{
  font-size: 25px;
  text-align: center;
  margin-top: 120px;
  margin-left: 15px;
}
.p-croissant {
  line-height: 24px;
  text-align: justify;
  width: 300px;
  font-size: 12px;
  margin-top: 230px;
  
}
.p-weather {
  line-height: 24px;
  text-align: justify;
  width: 300px;
  font-size: 12px;
  margin-top: 250px;
  margin-left: -5px;
  
}
 
footer{
 text-align: center;
 margin-top: 230px;
 font-size: 11px;
 
}

}